<h1>Edit Site</h1>

<%= form_for @hiphop_site do |form| %>
  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :url, "Enter URL" %>
    <%= form.text_field :url %>
  </div>
  <div>
    <%= form.label :image_url, "Enter Image URL" %>
    <%= form.text_field :image_url %>
  </div>
  <%= form.submit %>
<% end %>
<br><br>

