<!DOCTYPE html>
<html>
<head>
  <title>Soulyhiphop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to "bars", bars_path %>
  <%= link_to "hip hop sites", hiphop_sites_path %>
  <%= link_to "add hip hop site", new_hiphop_site_path %>
</header>
<div id="page">
  <% if flash[:alert] %>
    <P class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
<%= yield %>
</div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
